@charset "UTF-8";

body {
    font-family: Verdana,
  Roboto, 
  "Droid Sans",
  "游ゴシック", 
  YuGothic, 
  "メイリオ", 
  Meiryo, 
  "ヒラギノ角ゴ ProN W3", 
  "Hiragino Kaku Gothic ProN", 
  "ＭＳ Ｐゴシック", 
  sans-serif;
    font-weight:500 !important;
    line-height:1.6 !important;
    letter-spacing:0.06em !important;
    position:relative !important;
    -webkit-text-size-adjust:100% !important;
}

footer {
    margin-top:auto !important;
    color:white !important;
    background-color:tomato !important;
    text-align:center !important;
}

@media screen and (min-width:768px) {                                           /*コンテンツ パソコン*/
    .section {
        margin-top:auto !important;
    }
    
    .lead-icon {
        position:absolute !important; top:28rem !important; left:34rem !important;
        z-index:6 !important;
    }
    
    .about-text {
        font-size:2rem !important;
        text-align:center !important;
        margin-top:2rem !important;
        margin-bottom:5rem !important;
    }
    
    #wrapper {
        display:flex !important;
        flex-direction:column !important;
        min-height:220vh !important;
    }
    
    .usage {
        display:flex !important;
        justify-content:space-between !important;
        text-align:center !important;
        margin-top:3.5rem !important;
        margin-bottom:3rem !important;
    }
    
    .explanation-text {
        font-size:1.6rem !important;
    }
    
    .explanation {
        font-size:1rem !important;
    }
    
    .explanation-card {
        width:32% !important;
        padding-bottom:1rem !important;
        background-image:url(http://free-paper-texture.com/p/p0027/p0027_s.jpg) !important;
        background-size:cover !important;
        border:solid black 0.11rem !important;
        border-radius:0.2rem !important;
        z-index:0 !important;
    }
    
    .tape {
        position:relative !important; bottom:0.7rem !important;
        width:38% !important;
        height:2.2rem !important;
        margin:-0.5rem auto 0 !important;
        background-color:turquoise !important;
        transform:rotate(-2deg) !important;
        opacity:0.2 !important;
    }    
    
    .contents-icon {
        color:tomato !important;
    }
    
    .contents-lead {
        margin-bottom:4rem !important;
    }
}

@media screen and (max-width:768px) {                                           /*コンテンツ スマホ*/
    .section {
        margin-top:9rem !important;
    }
    
    .lead-icon {
        display:none !important;
    }
    
    .about-text {
        font-size:0.9rem !important;
        text-align:center !important;
        margin-top:1rem !important;
        margin-bottom:2rem !important;
    }
    
    #wrapper {
        display:flex !important;
        flex-direction:column !important;
        min-height:175vh !important;
    }
   
    .usage {
        display:inline-block !important;
        text-align:center !important;
        margin-top:2.2rem !important;
        margin-bottom:0.8rem !important;
    }
    
    .explanation-text {
        font-size:1rem !important;
    }
    
    .explanation {
        font-size:0.8rem !important;
        margin-bottom:0.7rem !important;
    }
    
    .explanation-card {
        margin-bottom:2rem !important;
        background-image:url(http://free-paper-texture.com/p/p0027/p0027_s.jpg) !important;
        background-size:cover !important;
        border:solid black 0.11rem !important;
        border-radius:0.2rem !important;
        z-index:0 !important;
    }
    
    .tape {
        position:relative !important; top:2.5rem !important;
        width:35% !important;
        height:1.8rem !important;
        margin:-3.5rem auto 0 !important;
        background-color:turquoise !important;
        transform:rotate(-2deg) !important;
        opacity:0.2 !important;
    }    
    
    .contents-icon {
        color:tomato !important;
        margin-top:3rem !important;
    }
    
    .contents-lead {
        margin-bottom:3rem !important;
    }
}

@media screen and (min-width:768px) {                                           /*ヘッダー パソコン*/
    header {
        position:sticky !important;
        top:0 !important;
        z-index:999 !important;
        box-shadow:0 0.3rem 0.6rem rgba(0, 0, 0, 0.05);
    }
    
    .navbar-space {
        padding-top:0rem !important;
        padding-bottom:0rem !important;
    }
    
    .navbar-brand {
        font-weight:700 !important;
        font-size:2.2rem !important;
        color:tomato !important;
    }

    .navbar-brand:hover, .navbar-brand:active {
        font-weight:700 !important;
        font-size:2.2rem !important;
        color:rgba(255,99,71,0.8) !important;
    }
    
    .subtitle {
        width:52rem !important;
        font-weight:500 !important;
        color:tomato !important;
        font-size:1.3rem !important;
    }
    
    h2 {
        color:white !important;
        background-color:tomato !important;
        margin-top:0.8rem !important;
        padding:0.2rem 0.8rem 0.5rem 0.8rem!important;
        display:inline-block !important;
        line-height:2.5rem !important;
        font-size:2.2rem !important;
        border-radius:2.5rem 0rem 0rem 2.5rem !important;
    }

    h2:before {
        content:'●' !important;
        color:white !important;
        margin-right :1rem !important;
    }
    
    .long {
        display:inline-block !important;
        vertical-align:top !important;
        line-height:2.5rem !important;
        font-size:2.2rem !important;
        max-width:58.6rem !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
    }
    
    .long2 {
        display:inline-block !important;
        vertical-align:top !important;
        line-height:2.5rem !important;
        font-size:2.2rem !important;
        max-width:67.2rem !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
    }
    
    .nav-size {
        font-weight:500;
        font-size:1.2rem !important;
    }   

    .nav-color {
        font-weight:500;
        font-size:1.2rem !important;
        line-height:1.5rem !important;
        max-width:20rem !important;
        color:tomato !important;
        text-decoration:none !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
        border-bottom:dashed 0.1rem !important;
        padding-bottom:0rem !important;
    }
    
    .ours {
        padding-bottom:0.03rem !important;
    }
    
    .dropdown-color {
        display:block !important;
        height:1.8rem !important;
        font-weight:500 !important;
        color:black !important;
        text-decoration:none !important;
        max-width:17rem !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
    }
    
    .dropdown-color:hover, .dropdown-color:active {
        display:block !important;
        height:1.8rem !important;
        font-weight:500 !important;
        color:rgba(0, 0, 0,0.72) !important;
        text-decoration:none !important;
    }
}

@media screen and (max-width:768px) {                                           /*ヘッダー スマホ*/
    header {
        position:sticky !important;
        line-height:0.7rem !important;
        z-index:999 !important;
        box-shadow:0 0.3rem 0.6rem rgba(0, 0, 0, 0.05);
    }
    
    .navbar-light .navbar-toggler {
        border-color:white !important;
    }
    
    .navbar-space {
        padding-top:0.5rem !important;
        padding-bottom:0.2rem !important;
    }
    
    .navbar-brand {
        font-weight:700 !important;
        font-size:1.8rem !important;
        color:tomato !important;
    }

    .navbar-brand:hover, .navbar-brand:active {
        font-weight:700 !important;
        font-size:1.8rem !important;
        color:rgba(255,99,71,0.8) !important;
    }
    
    .subtitle {
        font-weight:500 !important;
        color:tomato !important;
        font-size:1.1rem !important;
    }
    
    h2 {
        color:white !important;
        background-color:tomato !important;
        margin-top:0.8rem !important;
        padding:0rem 0.5rem 0.2rem 0.8rem!important;
        display:inline-block !important;
        line-height:2.5rem !important;
        font-size:1.3rem !important;
        border-radius:2.5rem 0rem 0rem 2.5rem !important;
    }
    
    h2:before {
        content:'●' !important;
        color:white !important;
        margin-right :0.5rem !important;
    }
    
    .long {
        display:inline-block !important;
        vertical-align:top !important;
        line-height:2.5rem !important;
        font-size:1.3rem !important;
        max-width:14.8rem !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
    }
    
    .long2 {
        display:inline-block !important;
        vertical-align:top !important;
        line-height:2.5rem !important;
        font-size:1.3rem !important;
        max-width:20.8rem !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
    }
    
    .nav-size {
        font-weight:500;
        font-size:1rem !important;
    }

    .nav-color {
        font-weight:500;
        font-size:1rem !important;
        max-width:21rem !important;
        color:tomato !important;
        text-decoration:none !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
        box-shadow:none !important;
    }
    
    .ours {
        padding-bottom:0.03rem !important;
    }
    
    .dropdown-color {
        display:block !important;
        height:1.4rem !important;
        padding-top:0.2rem !important;
        font-weight:500 !important;
        color:black !important;
        text-decoration:none !important;
        max-width:19rem !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
    }
    
    .logout {
        position:relative !important; top:0.5rem !important;
    }
    
    .dropdown-color:hover, .dropdown-color:active {
        display:block !important;
        height:1.4rem !important;
        font-weight:500 !important;
        color:rgba(0, 0, 0,0.72) !important;
        text-decoration:none !important;
    }
}

.nav-color:hover, .nav-color:active {
    color:rgba(255,99,71,0.72) !important;
    text-decoration:none !important;
    box-shadow:none !important;
}

.dropdown-item:hover, .dropdown-item:active {
    background-color:white !important;
}

@media screen and (min-width:768px) {                                           /*トップページ パソコン*/
    .woman {
        position:absolute !important;
        transform:translate(-10%, -53%) !important;
        width:300% !important;
        padding-top:66.67% !important;
        z-index:1 !important;
        opacity:0.7 !important;
    }
    
    .triangle {
        position:absolute !important; top:4.4rem !important; left:14rem !important;
        border-left:60rem solid transparent !important;
        border-bottom:30rem solid white !important;
        z-index:5 !important;
    }
    
    .wrapper {
        position:relative !important;
        display:inline-block !important;
    }
    
    h1 {
        position:relative !important; top:14rem !important; left:46rem !important;
        font-size:2.5rem !important;
        z-index:6 !important;
    }
    
    .btn-rem-13 {
        height:3.1rem !important;
        width:15.5rem !important;
    }
    
    .lead:link, .lead:visited {
        font-weight:500 !important;
        font-size:1.4rem !important;
        color:white !important;
        background-color:turquoise !important;
        border:none !important;
        text-shadow:none !important;
        box-shadow:inset 0 -0.18rem 0.05rem rgba(0, 0, 0, 0.25) !important;
    }
}

@media screen and (max-width:768px) {                                           /*トップページ スマホ*/
    .woman {
        position:absolute !important;
        transform:translate(-25%, -40%) !important;
        width:182% !important;
        height:auto !important;
        z-index:1 !important;
        opacity:0.7 !important;
    }
    
    .triangle {
        position:absolute !important; top:4.1rem !important; left:-1.3rem !important;
        border-left:23.8rem solid transparent !important;
        border-bottom:8rem solid white !important;
        z-index:5 !important;
    }
    
    .wrapper {
        position:relative !important;
        display:inline-block !important;
    }
    
    h1 {
        position:relative !important; top:6.5rem !important; left:5rem !important;
        font-size:1.4rem !important;
        z-index:6 !important;
    }
    
    .btn-rem-13 {
        height:2.8rem !important;
        width:13rem !important;
    }

    .lead:link, .lead:visited {
        font-weight:500 !important;
        font-size:1.2rem !important;
        color:white !important;
        background-color:turquoise !important;
        border:none !important;
        text-shadow:none !important;
        box-shadow:inset 0 -0.18rem 0.05rem rgba(0, 0, 0, 0.25) !important;
    }
}

.lead:hover {
    font-weight:500 !important;
    color:white !important;
    background-color:rgba(64, 224, 208,0.82) !important;
    border:none !important;
    box-shadow:inset 0 -0.18rem 0.05rem rgba(0, 0, 0, 0.25) !important;
}

.lead:active {
    font-weight:500 !important;
    color:white !important;
    background-color:rgba(64, 224, 208,0.82) !important;
    border:none !important;
    transform:translateY(0.15rem) !important;
    border:none !important;
    box-shadow:none !important;
}

.lead:focus {
    font-weight:500 !important;
    color:white !important;
    background-color:rgba(64, 224, 208,0.82) !important;
    border:none !important;
    box-shadow:none !important;
}

.oisii {
    color:tomato !important;
}

@media screen and (min-width:768px) {
    .break2 {
        display:none !important;
    }
}

@media screen and (min-width:768px) {                                           /*カード パソコン*/
    .contents {
        width:80% !important;
        margin:0 auto !important;
   }

    .card-color {
        margin-top:3rem !important;
        margin-bottom:4rem !important;
        background-image:url(http://free-paper-texture.com/p/p0027/p0027_s.jpg) !important;
        background-size:cover !important;
        border:solid black 0.11rem !important;
        border-radius:0.2rem !important;
        z-index:0 !important;
    }

    .flexbox { 
        display:flex !important;
        height:20rem !important;
    }

    .product-space {
        position:absolute !important; top:1.8rem !important; left:2rem !important;
        width:39% !important;
    }
    
    .product-space:before {
        position:absolute; top:1.6rem !important; left:2rem !important;
        content:'' !important;
        width:100% !important;
        height:0 !important;
        left:0 !important;
        border:solid 0.1045rem rgba(255,99,71,0.8) !important;
        transform:rotate(-0deg) !important;
    }
    
    .product-space:after {
        position:absolute; top:1.6rem !important; left:2rem !important;
        content:'' !important;
        width:100.2% !important;
        height:0 !important;
        left:0 !important;
        border:solid 0.1045rem rgba(255,99,71,0.8) !important;
        transform:rotate(1deg) !important;
    }

    .card-img {
        position:absolute !important; top:4.7rem !important; left:2.4rem !important;
        width:20% !important;
        max-height:14rem !important;
    }

    .no-img {
        position:absolute !important; top:4.7rem !important; left:2.4rem !important;
        font-size:0.8rem !important;
        font-weight:400 !important;
        padding:6.4rem 1.6rem !important;
        border:solid darkgray 0.06rem !important;
    }

    .title {
        position:absolute !important; top:1.8rem !important; left:27rem !important;
        width:39% !important;
    }
    
    .title:before {
        position:absolute; top:1.6rem !important;
        content:'' !important;
        width:60% !important;
        height:0 !important;
        left:0 !important;
        border:solid 0.1045rem rgba(255,99,71,0.8) !important;
        transform:rotate(0.2deg) !important;
    }
    
    .title:after {
        position:absolute; top:1.64rem !important;
        content:'' !important;
        width:100% !important;
        height:0 !important;
        left:0 !important;
        border:solid 0.114rem rgba(255,99,71,0.8) !important;
        transform:rotate(-0.7deg) !important;
    }

    .comment-space {
        position:absolute !important; top:4.8rem !important; left:15rem !important;
        width:70% !important;
        word-break:break-all !important;
    }

    .name {
        position:absolute !important; top:14.8rem !important; left:15rem !important;
        max-width:38rem !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
    }
    
    .post {
        position:absolute !important; top:16.5rem !important; left:15rem !important;
        }
    
    .card-button {
        position:absolute !important; top:16.5rem !important; right:2rem !important;
        }

    .box1 {
        width:30% !important;
        margin:auto !important;
    }

    .box2 {
        width:70% !important;
        margin:auto !important;
    }

    .my-tape {
        position:absolute !important; top:2rem !important; left:20rem !important;
        width:28% !important;
        height:2.5rem !important;
        margin:-3.5rem auto 0 !important;
        background:repeating-linear-gradient(-49deg, turquoise, turquoise 0.8rem, white 0, white 1.6rem) !important;
        transform:rotate(-2deg) !important;
        opacity:0.3 !important;
    }

    .others-tape {
        position:absolute !important; top:2rem !important; left:20rem !important;
        width:28% !important;
        height:2.5rem !important;
        margin:-3.5rem auto 0 !important;
        background-color:turquoise !important;
        transform:rotate(-2deg) !important;
        opacity:0.2 !important;
    }

    .others-tape-2 {
        position:absolute !important; top:0.8rem !important; left:20rem !important;
        width:28% !important;
        height:2.5rem !important;
        margin:-2.3rem auto 0 !important;
        background-color:turquoise !important;
        transform:rotate(-2deg) !important;
        opacity:0.2 !important;
    }
}

@media screen and (max-width:768px) {                                           /*カード スマホ*/
    .contents {
        width:100% !important;
        margin:0 auto !important;
   }

    .card-color {
        margin-top:3rem !important;
        margin-bottom:4rem !important;
        background-image:url(http://free-paper-texture.com/p/p0027/p0027_s.jpg) !important;
        background-size:cover !important;
        border:solid black 0.11rem !important;
        border-radius:0.2rem !important;
        z-index:0 !important;
    }
    
    .product-space {
        position:absolute !important; top:1.6rem !important; left:8.5rem !important;
        width:55% !important;
    }
    
    .product-space:before, .product-space:after {
        position:absolute; top:1.6rem !important;
        content:'' !important;
        width:100% !important;
        height:0 !important;
    }
    
    .product-space:before {
        left:0 !important;
        border:solid 0.1045rem rgba(255,99,71,0.8) !important;
        transform:rotate(-0deg) !important;
    }
    
    .product-space:after {
        left:0 !important;
        border:solid 0.1045rem rgba(255,99,71,0.8) !important;
        transform:rotate(1deg) !important;
    }
    
    .card-img {
        position:absolute !important; top:1.7rem !important; left:1.3rem !important;
        width:28% !important;
        max-height:8rem!important;
    }
    
    .no-img {
        position:absolute !important; top:1.7rem !important; left:1.3rem !important;
        font-size:0.6rem !important;
        font-weight:400 !important;
        color:darkgray !important;
        padding:3.4rem 0rem !important;
        border:solid darkgray 0.06rem !important;
    }
    
    .title {
        position:absolute !important; top:5.5rem !important; left:8.5rem !important;
        width:55% !important;
   }
   
    .title:before {
        position:absolute; top:1.7rem !important;
        content:'' !important;
        width:60% !important;
        height:0 !important;
        left:0 !important;
        border:solid 0.1045rem rgba(255,99,71,0.8) !important;
        transform:rotate(0.2deg) !important;
    }
    
    .title:after {
        position:absolute; top:1.7rem !important;
        content:'' !important;
        width:100% !important;
        height:0 !important;
        left:0 !important;
        border:solid 0.114rem rgba(255,99,71,0.8) !important;
        transform:rotate(-0.7deg) !important;
    }

    .comment-space {
        width:90% !important;
        margin-top:10.2rem !important;
        margin-bottom:0rem !important;
        margin-left:1.3rem !important;
        word-break:break-all !important;
    }
    
    .name {
        position:absolute !important; bottom:4.5rem !important; left:1.5rem !important;
        font-size:0.8rem !important;
        max-width:90% !important;
        text-overflow:ellipsis !important;
        white-space:nowrap !important;
        overflow:hidden !important;
        margin-top:0rem !important;
    }
    
    .post {
        position:absolute !important; bottom:3.5rem !important; left:1.5rem !important;
        font-size:0.6rem !important;
        }

    .card-button {
        float:right !important;
        margin-top:2.5rem !important;
        margin-right:0.5rem !important;
        margin-bottom:0.5rem !important;
        }
        
    .my-tape {
        position:absolute !important; top:2rem !important; left:5.4rem !important;
        width:50% !important;
        height:2.2rem !important;
        margin:-3.3rem auto 0 !important;
        background:repeating-linear-gradient(-41deg, turquoise, turquoise 0.8rem, white 0, white 1.6rem) !important;
        transform:rotate(-2deg) !important;
        opacity:0.3 !important;
    }

    .others-tape {
        position:absolute !important; top:2rem !important; left:5.4rem !important;
        width:50% !important;
        height:2.2rem !important;
        margin:-3.3rem auto 0 !important;
        background-color:darkturquoise !important;
        transform:rotate(-2deg) !important;
        opacity:0.2 !important;
    }

    .others-tape-2 {
        position:absolute !important; top:2rem !important; left:5.4rem !important;
        width:50% !important;
        height:2.2rem !important;
        margin:-3.3rem auto 0 !important;
        background-color:darkturquoise !important;
        transform:rotate(-2deg) !important;
        opacity:0.2 !important;
    }    
}

.flex {
    display:flex !important;
    justify-content:space-between !important;
}

.relative {
    position:relative !important; top:1rem !important;
}

.guide {
    color:turquoise !important;
    text-decoration:none !important;
    line-height:1.5rem !important;
    border-bottom:dashed 0.1rem !important;
    padding-bottom:0rem !important;
}

.guide:hover, .guide:active {
    color:rgba(64, 224, 208,0.7) !important;
    text-decoration:none !important;
}

@media screen and (min-width:768px) {                                           /*ナビタブ パソコン*/
    .navtab-color {
        font-size:1.2rem !important;
        color:black !important;
    }
    
    .show-log {
        position:relative !important; bottom:2rem !important;
    }
}

@media screen and (max-width:768px) {                                           /*ナビタブ スマホ*/
    .navtab-color {
        font-size:1rem !important;
        color:black !important;
        padding:0.3rem 0.5rem !important;
    }
    
    .show-log {
        position:relative !important; bottom:3rem !important;
    }
}

.navtab-log {
    position:relative !important; bottom:4rem !important;
}

.navtab-follow {
    position:relative !important; top:0.8rem !important;
}

@media screen and (min-width:768px) {                                           /*ボタン パソコン*/
    .card-negative {
        font-weight:500 !important;
        color:black !important;
        background-color:transparent !important;
        border:solid black !important;
        border-radius:3em 0.5em 2em 0.5em/0.4em 2em 0.5em 3em !important;
    }

    .card-negative:hover, .card-negative:active, .card-negative:focus {
        font-weight:500 !important;
        color:rgba(0,0,0,0.62) !important;
        background-color:transparent !important;
        box-shadow:none !important;
        border:solid rgba(0,0,0,0.62) !important;
    }
    
    .card-positive {
        position:relative !important;
        font-weight:500 !important;
        border:solid black !important;
        border-radius:0.2em 2em 2em 3em/3em 0.8em 0.2em 0.5em !important;
        color:papayawhip !important;
        background-color:transparent !important;
    }
    
    .card-positive:hover, .card-positive:active, .card-positive:focus {
        font-weight:500 !important;
        color:papayawhip !important;
        background-color:transparent !important;
        box-shadow:none !important;
        border:solid rgba(0,0,0,0.62) !important;
    }
    
    .negative {
        font-weight:500 !important;
        color:tomato !important;
        background-color:white !important;
        border:solid tomato !important;
    }
    
    .negative:hover {
        font-weight:500 !important;
        color:white !important;
        background-color:tomato !important;
        box-shadow:none !important;
        border:solid tomato !important;
    }
    
    .negative:active {
        font-weight:500 !important;
        color:white !important;
        background-color:tomato !important;
        box-shadow:none !important;
        border:solid tomato !important;
    }
    
    .negative:focus {
        font-weight:500 !important;
        color:white !important;
        background-color:tomato !important;
        box-shadow:none !important;
        border:solid tomato !important;
    }
    
    .positive {
        font-weight:500 !important;
        color:white !important;
        background-color:tomato !important;
        border:solid tomato !important;
    }
    
    .positive:hover {
        font-weight:500 !important;
        color:tomato !important;
        background-color:white !important;
        box-shadow:none !important;
        border:solid tomato !important;
    }
    
    .positive:active {
        font-weight:500 !important;
        color:tomato !important;
        background-color:white !important;
        box-shadow:none !important;
        border:solid tomato !important;
    }
    
    .positive:focus {
        font-weight:500 !important;
        color:tomato !important;
        background-color:white !important;
        box-shadow:none !important;
        border:solid tomato !important;
    }
    
    .page-link:link ,.page-link:visited {
        color:turquoise !important;
        background-color:white !important;
        border:solid turquoise !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
    
    .page-link:hover, .page-link:disabled {
        color:white !important;
        background-color:rgba(64, 224, 208,0.82) !important;
        border:solid turquoise !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
    
    .page-link:active {
         color:white !important;
        background-color:rgba(64, 224, 208,0.82) !important;
        border:solid turquoise !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
    
    .page-item.active .page-link {
        color:white !important;
        background-color:turquoise !important;
        border:solid turquoise !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
    
    .page-item.disabled .page-link {
        color:turquoise !important;
        background-color:white !important;
        border:solid turquoise !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
}

@media screen and (max-width:768px) {                                           /*ボタン スマホ*/
    .card-negative {
        font-weight:500 !important;
        color:black !important;
        background-color:transparent !important;
        border:solid black 0.1rem !important;
        border-radius:3em 0.5em 2em 0.5em/0.4em 2em 0.5em 3em !important;
    }

    .card-negative:hover, .card-negative:active, .card-negative:focus {
        font-weight:500 !important;
        color:rgba(0,0,0,0.62) !important;
        background-color:transparent !important;
        box-shadow:none !important;
        border:solid rgba(0,0,0,0.62) 0.1rem !important;
    }
    
    .card-positive {
        position:relative !important;
        font-weight:500 !important;
        border:solid black 0.1rem !important;
        border-radius:0.2em 2em 2em 3em/3em 0.8em 0.2em 0.5em !important;
        color:papayawhip !important;
        background-color:transparent !important;
    }
    
    .card-positive:hover, .card-positive:active, .card-positive:focus {
        font-weight:500 !important;
        color:papayawhip !important;
        background-color:transparent !important;
        box-shadow:none !important;
        border:solid rgba(0,0,0,0.62) 0.1rem !important;
    }
    
    .negative {
        font-weight:500 !important;
        color:tomato !important;
        background-color:white !important;
        border:solid tomato 0.1rem !important;
    }
    
    .negative:hover {
        font-weight:500 !important;
        color:white !important;
        background-color:tomato !important;
        box-shadow:none !important;
        border:solid tomato 0.1rem !important;
    }
    
    .negative:active {
        font-weight:500 !important;
        color:white !important;
        background-color:tomato !important;
        box-shadow:none !important;
        border:solid tomato 0.1rem !important;
    }
    
    .negative:focus {
        font-weight:500 !important;
        color:white !important;
        background-color:tomato !important;
        box-shadow:none !important;
        border:solid tomato 0.1rem !important;
    }
    
    .positive {
        font-weight:500 !important;
        color:white !important;
        background-color:tomato !important;
        border:solid tomato 0.1rem !important;
    }
    
    .positive:hover {
        font-weight:500 !important;
        color:tomato !important;
        background-color:white !important;
        box-shadow:none !important;
        border:solid tomato 0.1rem !important;
    }
    
    .positive:active {
        font-weight:500 !important;
        color:tomato !important;
        background-color:white !important;
        box-shadow:none !important;
        border:solid tomato 0.1rem !important;
    }
    
    .positive:focus {
        font-weight:500 !important;
        color:tomato !important;
        background-color:white !important;
        box-shadow:none !important;
        border:solid tomato 0.1rem !important;
    }
    
    .page-link:link ,.page-link:visited {
        color:turquoise !important;
        background-color:white !important;
        border:solid turquoise 0.1rem !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
    
    .page-link:hover, .page-link:disabled {
        color:white !important;
        background-color:rgba(64, 224, 208,0.82) !important;
        border:solid turquoise 0.1rem !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
    
    .page-link:active {
         color:white !important;
        background-color:rgba(64, 224, 208,0.82) !important;
        border:solid turquoise 0.1rem !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
    
    .page-item.active .page-link {
        color:white !important;
        background-color:turquoise !important;
        border:solid turquoise 0.1rem !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
    
    .page-item.disabled .page-link {
        color:turquoise !important;
        background-color:white !important;
        border:solid turquoise 0.1rem !important;
        border-radius:1.2rem !important;
        box-shadow:none !important;
        margin-left:0.1rem !important;
        margin-right:0.1rem !important;
    }
}

.pagination {
    text-align:center !important;
}

.pagination li {
    display:inline-block !important;
}

.card-positive:before {
    position:absolute !important;top:0.2rem !important; left:0.2rem !important;
    border-radius:0.3em 1em 3em 2em/1em 1em 0.5em 0.3em !important;
    background-color:tomato !important;
    content:"" !important;
    width:100% !important;
    height:100% !important;
    z-index:-1 !important;
}


.card-positive:hover::before, .card-positive:active::before, .card-positive:focus::before {
    font-weight:500 !important;
    background-color:rgba(255,99,71,0.85) !important;
    box-shadow:none !important;
}

.needed {
    color:white !important;
    background-color:turquoise !important;
}

.form-control {
    border-color:darkgray !important;
}

.form-control:focus {
    border-color:darkgray !important;
    box-shadow: 0 0 0 0.15rem rgba(255,99,71,0.75) !important;
}

.btn-rem-6 {
    width:6rem !important;
}

.btn-rem-7 {
    font-size:1.1rem !important;
    width:7rem !important;
}

.btn-rem-10 {
    width:10.5rem !important;
}

.error {
    color:black !important;
    background-color:white !important;
    border:none !important;
    list-style:none !important;
}

.icon {
    color:turquoise !important;
    position:relative !important;
    
}

@media screen and (min-width:768px) {                                           /*編集 パソコン*/
    .update-btn {
        margin-bottom:1rem !important;
    }

    .photo-file {
        margin-left:18rem !important;
    }

    .photo {
        position:relative !important; bottom:2rem !important;
        width:11.1rem !important;
        max-height:14rem !important;
    }

    .no-img2 {
        position:relative !important; bottom:2rem !important; 
        font-size:0.8rem !important;
        font-weight:400 !important;
        padding:6.4rem 1.6rem !important;
        margin-right:34.5rem !important;
        border:solid darkgray 0.06rem !important;
    }

    .current-photo {
        position:relative !important; bottom:1.5rem !important;
        text-align:left !important;
    }
}

@media screen and (max-width:768px) {                                           /*編集 スマホ*/
    .update-btn {
        margin-bottom:1rem !important;
    }

    .photo-file {
        margin-bottom:5rem !important;
        text-align:left !important;
    }

    .photo {
        position:relative !important; bottom:3rem !important;
        width:28% !important;
        max-height:8rem!important;
    }
    
    .no-img2 {
        position:relative !important; bottom:3rem !important;
        color:darkgray !important;
        font-size:0.6rem !important;
        font-weight:400 !important;
        padding:3.4rem 0rem !important;
        margin-right:15rem !important;
        border:solid darkgray 0.06rem !important;
    }
    
    .current-photo {
        position:relative !important; bottom:2.5rem !important;
        text-align:left !important;
    }
}


    
